<%- include('./header.ejs') %>
<%- include('./navbar.ejs') %>
<div class="container">
    <div class="main-content" style="max-width: 200px">
        <ul class="vertical-nav">
            <li><a href="/profile">PROFILE</a></li>
            <li><a href="/">MAIN PAGE</a></li>
            <li><a href="/my-posts">MANAGE YOUR POSTS</a></li>
            <li><a href="/chat">CHAT</a></li>
            <li><a href="/users">All Users</a></li>
        </ul>
    </div>

<section class="main-content">




