</section>
<div class="container-fluid" style="max-width:200px">
        <h2>UserList - so who we got here</h2>

        <% commonData.forEach(data => { %>
            <div class="card-body  ">
                <p><%= data.name %></p>
                
            </div>  
        <% }) %>

</div>