</section>
<div class="container-fluid" style="max-width:200px">
        <h2>UserList</h2>
        <p><%= isAuth %></p>
        <% commonData.forEach(data => { %>
            <div class="card-body  ">
                <p><%= data.username %></p>
                <p><%= data.name %></p>
                
            </div>  
        <% }) %>

</div>