</section>
<div class="main-content" style="max-width: 200px">
    <div class="avatar-list">
        <div class="avatar-item">
            <img src="path_to_avatar1.jpg" alt="User Name 1" class="avatar">
            <p>User Name 1</p>
        </div>
        <div class="avatar-item">
            <img src="path_to_avatar2.jpg" alt="User Name 2" class="avatar">
            <p>User Name 2</p>
        </div>
        <!-- Add more avatars as needed -->
    </div>
</div>