



<%- include('./includes/main.ejs') %>

    <div class="container-fluid" style="min-width: 400px; max-width:890px">

        <div class="row">
            <div class="col-lg-10">
                <ul id="messages"></ul>
                <form id="form" action="">
                    <input id="input" autocomplete="off" />
                    <button>Send</button>
                    <input type="hidden" id="username" value="<%= name %>">
                </form>
            </div>
        </div>
            
    
    </div>
        
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/chat.js"></script>
    <%- include('./includes/mainend.ejs') %>


