<%- include('./includes/header.ejs') %>
<%- include('./includes/navbar.ejs') %>
<section class="main-content">
    <div class="container-fluid">
        <h1>Ekhm... something go wrong? </h1>
        <h2>With <%= message %> </h2>
        <a href="/"><button class="btn-primary"> Go Back !</button></a>
    </div>

</section>